.full-width
  width 100%

.center-content
  display flex
  justify-content center
  align-items center

html {
  overflow-y: hidden
}

body {
  color: #444444
}

box-shadow() {
  -moz-box-shadow: arguments;
  -webkit-box-shadow: arguments;
  box-shadow: arguments;
}